.scheduleBody {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scheduleContent {
  width: 600px;
  height: 600px;
  background-color: antiquewhite;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerSchedule {
  /* border: 1px solid lightcoral; */
  width: 500px;
  height: 500px;
}
.add {
  width: 100%;
  height: 50px;
  /* border: 1px solid lightcoral; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#date {
  width: 150px;
  height: 20px;
  margin-top: 13px;
  margin-right: 15px;
  /* border: 1px solid lightsalmon; */
}
.fa-plus {
  width: 20px;
  height: 20px;
  /* border: 1px solid gray; */
  margin-right: 15px;
}

.fa-xmark {
  width: 20px;
  height: 20px;
  /* border: 1px solid gray; */
  margin-right: 15px;
}

#exampleFormControlTextarea1 {
  height: 200px;
}
